{% extends "personal/header.html" %}

		{% block content %}
		<div class="jumbotron text-center">
			<h1>Irb Sterowanie</h1> 
			<p>Specjalizujemy się w tworzeniu systemów sterowania PLC, HMI/SCADA</p> 
			<form class="form-inline">
				<div class="input-group">
				<!-- <input type="email" class="form-control" size="50" placeholder="adres e-mail" required>
				<			div class="input-group-btn">
					<button type="button" class="btn btn-danger">Subskrybuj</button>
					</div-->
				</div>
			</form>
		</div>



<div id="onas" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>O nas</h2>
      <h4>Jesteśmy niezależnymi specjalistami systemów sterowania, którzy pomagają klientom w automatyzacji procesów, a także jeszcze lepszym ich wykorzystaniu.</h4> 
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>


</style>
<div id="naszewartości" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span> 
    </div>
    <div class="col-sm-8">
      <h2>Nasze Wartości</h2>
      <h4><strong>NASZA MISJA:</strong> Dostarczać rozwiązań zgodnie z oczekiwaniami naszych klientów</h4> 
      <p><strong>WIZJA:</strong> Naszą wizją jest dostarczać usługi na miarę rewolucji INDUSTRY 4.0</p>
    </div>
  </div>
</div>
  
<div id="uslugi" class="container-fluid text-center">
  <h2>Usługi</h2>
  <h4>Co oferujemy</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-pencil logo-small"></span>
      <h4>PROGRAMOWANIE PLC</h4>
      <p>Projektujemy oprogramowanie dla: sterowników PLC serii S7-300/400 lub PCS7 od zera lub wykonanujemy szybkie  modyfikacje.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-check logo-small"></span>
      <h4>HMI/SCADA</h4>
      <p>Projektujemy intuicyjne i przyjazne dla operatora rozwiązania HMI/SCADA, które sprawiają, że kontrolowanie procem przemysłowym, automatyką bądź całą fabryką jest jeszcze prostsze.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-education logo-small"></span>
      <h4>SZKOLENIA</h4>
      <p>Projektujemy szkolenia i kursy dla operatorów i/lub automatyków z obsługi sterowników, paneli operatorskich lub wizualizacji SCADA.</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-object-align-vertical logo-small"></span>
      <h4>PRZEMYSŁOWE SIECI STEROWANIA</h4>
      <p>Projektujemy, uruchamiamy oraz diagnozujemy przemysłowe sieci sterowania PROFIBUS DP.</p>
    </div>
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
<div id="portfolio" class="container-fluid text-center bg-grey">
 <h2>What our customers say</h2>
 </div>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
    </div>
    <div class="item">
      <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
    </div>
    <div class="item">
      <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Poprzedni</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Następny</span>
  </a>
</div>
	    {% endblock %}	